.backdrop {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;

  background-color: $modal-backdrop-bg;

  // Remove grey highlight
  -webkit-tap-highlight-color: transparent;

  // Disable scroll capabilities.
  touch-action: none;

  &.transparent,
  &.invisible {
    background-color: transparent;
  }
}