.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 500;
  @include shadow-2dp;

  > .icon {
    margin-right: $spacer-half;
  }

  .spinner {
    width: $base-size;
    height: $base-size;
    @include spinner-variant($white);
    & + .wait-text {
      margin-left: $spacer-half;
    }
  }

  &:focus {
    @include focus-shadow();
  }

  &.btn-icon {
    padding: $btn-icon-padding;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    border: 0;
    border-radius: 100px;

    .icon {
      margin: 0;
      display: block;
      fill: currentColor;
    }

    .spinner {
      @include spinner-variant($text-color-base);
    }

    &:focus {
      box-shadow: none;
    }

    &:hover:not(:disabled) {
      background-color: $btn-icon-bgr-hover;
    }

    &:disabled {
      opacity: 0.25;
    }
  }

  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    text-transform: none;
  }

  &.btn-danger,
  &.btn-outline-danger {
    .spinner {
      @include spinner-variant(theme-color('danger'));
    }
  }

  &.btn-outline-danger {
    @include shadow-2dp(theme-color('danger'));
  }

  &.btn-icon-sm {
    padding: $btn-icon-padding-sm;// 4px

    .icon,
    .spinner {
      width: $icon-size-xs;
      height: $icon-size-xs;
    }
  }
}

.btn-append {
  @include flex-container-center;
  padding: 0;
  text-transform: none;

  .btn-content
  , .btn-addon {
    padding: $input-btn-padding-y $input-btn-padding-x;
  }

  .btn-content {
    flex-grow: 1;
  }

  .btn-addon {
    flex-grow: 0;
    border-left: 1px $input-border-color solid;
  }

  &:hover {
    background-color: $component-hover-bg;
  }
}
