.card {
  @include material-paper;
  padding: $card-padding-y $card-padding-x;
  margin-bottom: $card-margin;
  overflow: auto;

  &:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('md') { // 768
  .card {
    padding: $card-padding-y-md $card-padding-x-md;
  }
}

@include media-breakpoint-up('lg') { // 768
  .card {
    padding: $card-padding-y-lg $card-padding-x-lg;
  }
}
