// Color system
// Mostly reset of BS variables
//
$white:    #fff !default;
$gray-100: #edf2f5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dce1e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$bs-blue: #007bff !default;// bs default
$ria-buttons-blue: #22353e;// taken from ria.ru
$react-header-blue: #20232a;// taken from reactjs.org
$react-boxes-blue: #282C34;// taken from reactjs.org

$blue-variants: (
    "1": #004c80,
    "2": #007399,
    "3": #003c66,
    "4": #073147
) !default;

// based on $blue-colors[4]
$blues: (
    "100": #73bede,
    "200": #62b3d9,
    "300": #4f9abd,
    "400": #387ea1,
    "500": #296a8a,
    "600": #205773,
    "700": #134157,
    "800": #0e3245,
    "900": #10242e
) !default;

$blue: map_get($blues, "400");

$red-variants: (
    "1": #b34036,
    "2": #F03A12,
    "3": #990f18,
    "4": #dd3500
) !default;

$red: map_get($red-variants, "4");

$react-yellow: #FFE564; // - react mustard

$yellow-variants: (
    "1": #dfbe4d,
    "2": #ffc107,
    "3": #d9b730,
    "4": #e3cb2d
) !default;

$yellow: map_get($yellow-variants, "4") !default;

// $green: #28a745 !default;// default bs

$greens: (
    "100": #ace6b2,
    "200": #82d98c,
    "300": #70cc7c,
    "400": #50b35f,
    "500": #248033,
) !default;

$green: map_get($greens, "400") !default;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$orange: #fd7e14 !default;
$teal:  #20c997 !default;

$cyan-variants: (
    "1": #0089b3,
    "2": #007399,
    "3": #26c6da,
    "4": #17a2b8
) !default;

$cyan: map_get($cyan-variants, "4") !default;

$primary: $blue !default;
$secondary: $gray-200 !default;
$success: $green !default;
$danger: $red !default;
$warning: $yellow !default;
$info: $cyan !default;

$theme-colors: (
    "blue-light": map_get($blues, "400"),
    "blue": $blue,
    "blue-dark": map_get($blues, "900"),
    "primary-light": map_get($blues, "400"),
    "primary": $primary,
    "cyan": $cyan,
    "green": $green,
    "success-light": map_get($greens, "300"),
    "success": $success,
    "yellow": $yellow,
    "yellow-light": lighten($yellow, 38),
    "warning": $warning,
    "red": $red,
    "danger": $danger
) !default;

$body-bg: $gray-200 !default;
$body-color: $gray-900 !default;
$bgr-base: $white !default;
$bgr-invert: map_get($theme-colors, "blue-dark") !default;
$md-paper-bgr: $white !default;

// Text colors
//
$text-color-base: $gray-900 !default;
$text-color-invert: $gray-200 !default;
$text-muted: $gray-500 !default;

// Basic border
//
$border-color-base: $gray-400 !default;

// Components
// Used for custom inputs states, and other controls
$component-highlight-color: $cyan !default;
$component-highlight-color: $primary;
$component-active-color: $white !default;
$component-hover-bg: $gray-200 !default;
$component-hover-bg-invert: rgba($primary, 0.25) !default;
$component-active-bg: $component-highlight-color !default;
$component-error-color: $danger !default;

$link-color-invert: lighten($primary, 10);
$link-hover-color-invert: lighten($link-color-invert, 10%) !default;
