.collapse {
  height: 0;
  overflow: hidden;
  transition: height 300ms $animation-curve-default;

  &.in {
    height: auto;
    // overflow: visible;
  }
}

.collapse-toggle {
  // display: block;
  // width: 100%;
  @include flex-row;
  // justify-content: space-between;
  position: relative;
  cursor: pointer;
  color: $link-color;

  > .btn-icon,
  > .icon {
    transition: transform 300ms $animation-curve-default;
    will-change: transform;
    transform: rotate(0deg);
  }

  > .icon {
    width: $icon-size-xs;
    height: $icon-size-xs;
  }

  &.open {
    > .btn-icon,
    > .icon {
      transform: rotate(90deg);
    }
  }

  &.disabled {
    cursor: auto;
  }
}

