.dropdown-item {
  @include dropdown-item;

  .icon {
    margin-right: $spacer-half;
  }

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-hover-bg);
    outline: none;
  }

  &.active,
  &.active:not([href]),
  &.active:hover:not([href]),
  &:active[href] {
    color: $dropdown-link-active-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
}

.dropdown-item-separator {
  // padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  margin: $dropdown-item-padding-y $base-size / 2;
  height: 1px;
  background-color: $gray-400;
}

.dropdown-item-link {
  @include dropdown-item;
  @include text-truncate;

  color: $dropdown-link-color;
  background-color: transparent;
  cursor: pointer;

}

.dropdown-toggle {
  display: inline-block;
  padding: 0 $dropdown-toggle-padding-right 0 0;
  cursor: pointer;

  background-image: replace-hash(url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5"><polygon points="0,0 4,5 8,0" fill="#{$text-color-base}"/></svg>'));
  background-position: right $dropdown-toggle-caret-size * 0.5 top 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: $dropdown-toggle-caret-size;

  &.disabled {
    opacity: 0.5;
    touch-action: none;
    pointer-events: none;
  }
}

.popover.dropdown {
  padding: $dropdown-padding-y 0;
  min-width: $dropdown-min-width;
  max-height: calc(100% - (#{$dropdown-spacing} * 4));
  max-width: calc(100% - (#{$dropdown-spacing} * 4));
  -webkit-overflow-scrolling: touch;
}

.dropdown {
  .dropdown-toggle {
    display: block;
    width: 100%;
    text-align: left;
    text-transform: none;
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.dropdown-sm {
  /*.custom-control {
    font-size: $font-size-sm;
  }*/
  .custom-control-label {
    padding-top: $font-size-base - $font-size-sm;
  }
  .dropdown-item {
    padding: $dropdown-sm-item-padding-y $dropdown-sm-item-padding-x;
    font-size: $font-size-sm;
  }
}
