.fl-helper {
  margin: $base-size / 2 0 0;// 8px 0 0
  line-height: 1em;
  text-align: left;
  font-size: $font-size-base * 0.9;
  color: $text-muted;
}

/* Text input with floating label */
.field-block {
  width: 100%;
}

.fl-group {
  position: relative;
  display: block;
  padding: 0;

  .fl-field
  , .fl-like-field {
    display: block;
    box-sizing: content-box;
    margin: 0;
    padding: $fl-field-padding-y 0 $fl-field-padding-y + 1;
    width: 100%;
    font-size: $fl-field-font-size;
    height: 1.1875em;
    line-height: 1.1875em;
    border: none;
    background: none;
    color: inherit;

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:focus {
      outline: 0;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .fl-like-field {
    user-select: none;
    cursor: auto;
  }

  .fl-control {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    // The after label is the colored underline for the TextField.

    &:before {
      content: "\00a0";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid $fl-field-border-color;
      pointer-events: none;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $fl-field-highlight-color;
      @include material-animation-default();
      transform: scaleX(0);
    }
  }

  .fl-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    font-size: $fl-label-font-size;
    line-height: $fl-label-line-height;
    color: $fl-label-color;
    pointer-events: none;
    transform: translate(0, $fl-padding-y + $fl-field-padding-y + 2);
    transform-origin: top left;
    will-change: transform, font-size;

    @include material-animation-default();

    + .fl-control {
      margin-top: $fl-padding-y;
    }
  }

  &.fl-group-select {
    select.fl-field {
      min-width: $base-size;
      padding-right: $base-size * 1.5;
      user-select: none;
      border-radius: 0;
      cursor: pointer;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    .fl-caret {
      position: absolute;
      right: $fl-field-select-caret-offset;
      width: $base-size * 1.5;
      height: $base-size * 1.5;
      pointer-events: none;
    }

    fieldset[disabled] &,
    &.disabled {
      select.fl-field {
        cursor: not-allowed;
      }
    }
  }

  &.fl-group-multiline {
    textarea.fl-field,
    textarea.fl-field-shadow {
      resize: none;
      padding: 0;
      box-sizing: content-box;
      // line-height: 1.25;
    }

    textarea.fl-field-shadow {
      // Visibility needed to hide the extra text area on iPads
      visibility: hidden;
      // Remove from the content flow
      position: absolute;
      // Ignore the scrollbar width
      overflow: hidden;
      height: 0;
      top: 0;
      left: 0;
      line-height: 1.1875em;
    }

    .fl-control {
      padding: $fl-field-padding-y 0 $fl-field-padding-y + 1;
    }
  }

  &.focused {
    .fl-field {
      outline: none;
    }

    .fl-control {
      &:after {
        transform: scaleX(1);
      }
    }
  }

  &.focused,
  &.filled {
    .fl-label {
      color: $fl-label-color-focused;
      font-size : $fl-label-font-size-focused;
      // top: 0;
      transform: translate(0, 0);
      visibility: visible;
    }
  }

  &.has-error,
  &.has-error.focused,
  &.has-error.filled {
    .fl-label,
    .fl-helper {
      color: $fl-label-color-error;
    }

    .fl-control {
      &:after {
        transform: scaleX(1);
        background-color: $fl-field-error-color;
      }
    }
  }

  fieldset[disabled] &,
  &.disabled {
    .fl-field {
      background-color: transparent;
    }

    .fl-label {
      opacity: 0.6;
    }

    .fl-control {
      color: $fl-field-disabled-color;
      &:before {
        border-bottom: 1px dotted $fl-field-disabled-border-color;
      }
      &:after {
        display: none;
      }
    }
  }
}

.form-controls {
  display: flex;
}

.dropdown-select {
  .dropdown-item {
    box-sizing: content-box;
    padding-top: $fl-field-padding-y;
    padding-bottom: $fl-field-padding-y;
    font-size: $fl-field-font-size;
    height: 1.1875em;
    line-height: 1.1875em;
  }
}
