@function complex-shadow-color($alpha, $color: $gray-900) {
  @return rgba($color, $alpha);
}

@function make-complex-shadow-4dp($alpha1, $alpha2, $alpha3) {
  @return unquote("0 4px 5px 0 #{complex-shadow-color($alpha1)},
  0 1px 10px 0 #{complex-shadow-color($alpha2)},
          0 2px 4px -1px #{complex-shadow-color($alpha3)}"
  );
}

@function replace-hash($str) {
  @return str-replace($str, "#", "%23");
}