/*========== Hint (taken from hint.css) ==========*/
$hint-font-size: $font-size-base !default;//14px
$hint-line-height: 1.3 !default;
$hint-bgr: $gray-800 !default;
$hint-color: $text-color-invert !default;
$hint-shadow-shift: $base-size * 0.4 !default;
$hint-shadow-size: $base-size * 0.25 !default;
$hint-shadow-color: rgba($hint-bgr, 0.3) !default;
$hint-border-radius: $base-size * 0.4 !default;
$hint-arrow-height: $base-size * 0.25 !default;
$hint-padding-y: $base-size * 0.5 !default;
$hint-padding-x: $base-size !default;
$hint-max-width: $base-size * 20 !default;
$hint-min-width-md: $base-size * 8 !default;
$hint-min-width-lg: $base-size * 14 !default;
$hint-content-shift: -$base-size * 1.5 !default;
$hint-content-shift-l: -$base-size * 2 !default;

@mixin hint-element(){
  position: absolute;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease;
  /*transition-delay: 0ms;*/
}
@mixin hint-content(){
  background: $hint-bgr;
  color: $hint-color;
  padding: $hint-padding-y $hint-padding-x;
  // width: $hint-max-width;
  min-width: $hint-min-width-md;
  max-width: $hint-max-width;
  text-align: left;
  font-style: normal;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $hint-line-height;
  // white-space: nowrap;
  border-radius: $hint-border-radius;
  @include shadow-4dp;
}

@mixin hint-arrow(){
  content: '';
  position: absolute;
  background: transparent;
  border: $hint-arrow-height solid transparent;
  z-index: 1000001;
}

@mixin hint-arrow-top(){
  margin-bottom: 0;
  margin-right: -$hint-arrow-height;
  border-top-color: $hint-bgr;
  border-bottom-width: 0;
}

@mixin hint-arrow-bottom(){
  border-bottom-color: $hint-bgr;
}

@mixin hint-visible(){
  visibility: visible;
  opacity: 1;
  transition-delay: 100ms;
}

// example:
// <span data-hint="Some hint" class="hint-top">Text</span>
// <span data-hint="Some hint" class="hint-bottom">Text</span>
[data-hint] {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:before,
  &:after {
    @include hint-element();
    pointer-events: none;
  }

  &:before {
    @include hint-arrow();
  }

  &:after {
    content: attr(data-hint);
    @include hint-content();
  }

  &:hover,
  &.hint-visible {
    &:before,
    &:after {
      @include hint-visible();
    }
  }

  &.hint-lg {
    &:after {
      min-width: $hint-min-width-lg;
    }
  }

  &.hint-top {
    &:before,
    &:after {
      bottom: 100%;
      right: 50%;
    }

    &:before {
      @include hint-arrow-top();
    }

    &:after {
      margin-right: $hint-content-shift;
      margin-bottom: $hint-arrow-height;
      //@include translate3d(-50%, 0, 0)
    }

    &:hover {
      &:before,
      &:after {
        //@include traslateY(-8px);
      }
    }
  }

  &.hint-center {
    &:after {
      margin-right: 0;
      transform: translateX(50%);
    }
  }

  /**
 * bottom tooltip
 */
  &.hint-bottom{
    &:before,
    &:after {
      top: 100%;
      left: 50%;
    }

    &:before {
      @include hint-arrow-bottom();
      margin-left: -$hint-arrow-height*2+1;
    }

    &:after {
      margin-left: $hint-content-shift;
    }


  }
  /*
  .hint-bottom:hover:after,
  .hint-bottom:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }*/

}

.hint {
  position: relative;
  display: inline-block;

  .hint-content {
    @include hint-element();
    @include hint-content();
    width: auto;
    min-width: 30rem;
    user-select: text;

    &:before {
      @include hint-arrow();
      left: -$hint-content-shift-l;
      margin-left: -$hint-arrow-height;
    }
  }

  &:hover .hint-content,
  .hint-content:hover {
    @include hint-visible();
  }

  &.hint-bottom {
    .hint-content {
      top: 100%;
      left: 50%;
      margin-left: $hint-content-shift-l;
      margin-top: $hint-arrow-height;
      //@include translate3d(-50%, 0, 0)

      &:before {
        @include hint-arrow-bottom();
        bottom: 100%;
      }
    }
  }
}

.hint, [data-hint] {
  &.icon {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &.icon.hint-bottom {
    &:before {
      margin-top: -0.8rem;
      margin-left: -0.6rem;
    }
    &:after {
      margin-top: 0.4rem;
    }
  }
}


/**
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint-top
 * 	2) hint-bottom
 * 	3) hint-left
 * 	4) hint-right
 */
/**
 * set default color for tooltip arrows
 */


/**
 * right tooltip
 */
/*.hint-right:before {
  border-right-color: #383838;
}
.hint-right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}

.hint-right:after {
  margin-bottom: -14px;
}

.hint-right:before, .hint-right:after {
  left: 100%;
  bottom: 50%;
}

.hint-right:hover:after,
.hint-right:hover:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}*/

/**
 * left tooltip
 */

/*.hint-left:before {
  border-left-color: #383838;
}
.hint-left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}

.hint-left:after {
  margin-bottom: -14px;
}

.hint-left:before, .hint-left:after {
  right: 100%;
  bottom: 50%;
}

.hint-left:hover:after,
.hint-left:hover:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}*/