.layout-header-title {
  margin: 0;
  max-width: 80%;
  @include text-truncate;

  .home-link {
    color: $text-color-invert;

    &, &:hover {
      text-decoration: none;
    }
  }
}

.layout-header {
  position: fixed;
  z-index: 10;
  height: $layout-header-height;
  width: 100%;
  padding: 0 $layout-padding-x;
  background-color: $bgr-invert;
  color: $text-color-invert;
}

.layout-root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.heatmap-container {
  width: 100%;
  height: 100%;

  .heatmap-hint {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 24px;
  }
}

.layout-private {
  $meta-height: $base-size * 2 !default;

  display: block;

  .meta-backdrop {
    z-index: 19;
  }

  .meta-info-wrap {
    position: relative;
    margin-right: $layout-padding-x;
    top: 0;

    @include shadow-2dp;
    background-color: $bgr-base;
    transition: box-shadow 300ms $animation-curve-default;

    .balance-info-ext {
      padding: $base-size;
      background-color: $gray-100;
    }

    &.open {
      @include shadow-8dp;

      .collapse {
        position: relative;
      }
    }
  }

  .meta-info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 $base-size;
    cursor: pointer;

    .meta-brand {
      font-weight: $font-weight-bold;
      color: theme-color("primary");
      text-transform: uppercase;
      margin-right: $base-size;
    }

    .meta-username {
      margin-left: $spacer-half;
      line-height: $meta-height;
    }

    .meta-user {
      height: $meta-height;
    }
  }

  .layout-top {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    display: flex;
  }

  .layout-main {
    @include absolute-position();
    z-index: 1;
    background-color: $layout-content-bgr;

    .layout-content {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}
