// Shadows, based on material-light https://getmdl.io/components/index.html
@mixin no-drag() {
  -webkit-user-drag: none;
  user-drag: none;
}

@mixin use-drag() {
  -webkit-user-drag: element;
  user-drag: initial;
}

@mixin no-select() {
  user-select: none;
}

@mixin shadow-2dp($color: $gray-900) {
  box-shadow: 0 2px 2px 0 complex-shadow-color($shadow-key-penumbra-opacity, $color),
  0 3px 1px -2px complex-shadow-color($shadow-key-umbra-opacity, $color),
  0 1px 5px 0 complex-shadow-color($shadow-ambient-shadow-opacity, $color);
}

@mixin shadow-4dp() {
  box-shadow: make-complex-shadow-4dp(
                  $shadow-key-penumbra-opacity,
                  $shadow-ambient-shadow-opacity,
                  $shadow-key-umbra-opacity
  );
}

@mixin shadow-8dp() {
  box-shadow: 0 8px 10px 1px complex-shadow-color($shadow-key-penumbra-opacity),
  0 3px 14px 2px complex-shadow-color($shadow-ambient-shadow-opacity),
  0 5px 5px -3px complex-shadow-color($shadow-key-umbra-opacity);
}

@mixin focus-shadow() {
  // box-shadow: 0 0 6px rgba(0,0,0,.18),0 4px 10px rgba(0,0,0,.36);
  @include shadow-4dp;
}

@mixin flex-container-vertical {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

@mixin flex-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

@mixin flex-container-start {
  @include flex-container;
  justify-content: flex-start;
}

@mixin flex-container-center {
  @include flex-container;
  justify-content: space-around;
}

@mixin flex-container-justify {
  @include flex-container;
  justify-content: space-between;
}

@mixin absolute-position($top:0, $right:0, $bottom:0, $left:0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin material-animation-default($duration: 0.2s) {
  transition-duration: $duration;
  transition-timing-function: $animation-curve-default;
}

@mixin material-paper {
  background-color: $md-paper-bgr;
  @include shadow-2dp;
}

@mixin flex-centrify {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-row() {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin collapse-container {
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@mixin spinner-variant($color) {
  border: 2px $color solid;
  border-top-color: rgba($color, 0.3);
  border-bottom-color: rgba($color, 0.3);
}

@mixin dropdown-item {
  display: block;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  text-align: inherit;
  border: 0;
  user-select: none;
}

// used in .popover and .react-contextmenu
@mixin popover {
  position: absolute;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: $base-size;
  min-height: $base-size;
  max-width: 100%;
  max-height: 100%;
  padding: $base-size;
  background: $bgr-base;
  @include shadow-8dp;
  border-radius: $border-radius;
  outline: none;
}
