// Underlays under dialogs, popovers, dropdowns
.modal-backdrop {
  z-index: -1;
}

/*.modal-content,
.modal-header,
.modal-footer {
  border-radius: 0;
}

.modal-dialog {
  z-index: 2;
  @include shadow-8dp;
}*/

.popover {
  @include popover;
}

// Modal is wrapper for all overlaying components
// dialogs, popovers, dropdowns...
.modal {
  &.show {
    display: block;
  }
}

.dialog-content {
  flex: 1 1 auto;
  padding: $base-size * .5 $base-size * 1.5;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &:first-child {
    padding-top: $base-size * 1.25;
  }
}

.btn.dialog-action {
  box-shadow: none;
  color: $link-color;

  @include hover-focus {
    text-decoration: none;
    background-color: $gray-100;
    color: $link-hover-color;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $base-size * .5;
  // flex: 0 0 auto;

  & > .btn + .btn {
    margin-left: $base-size * .5;
  }
}

// Values are partly from MUI
.dialog {
  background-color: $white;
  // max-width: calc(100% - #{$base-size * 4});
  max-height: calc(100% - #{$base-size * 4});
  margin: $base-size * 2;
  min-width: 240px;
  border-radius: $border-radius;
  @include shadow-8dp;

  &.dialog-size-xs {
    max-width: 444px;
  }

  &.dialog-size-sm {
    max-width: 600px;
  }

  &.dialog-size-md {
    max-width: 720px;
  }

  &.dialog-size-lg {
    max-width: 960px;
  }

  &.dialog-size-xl {
    max-width: 1280px;
  }
}

.dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: 0;
}
