.nav-secondary {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: $base-size;
  margin-left: -$layout-padding-x;
  margin-right: -$layout-padding-x;
  padding-left: $layout-padding-x;
  font-size: $font-size-sm;
  border: 0;
  user-select: none;

  .nav-item {
    margin-right: 16px;
  }

  .nav-link {
    line-height: 1.3;
    padding: 0 0 $base-size * 0.5 0;
    text-align: center;
    border: 0;
    background-color: transparent;
    transition: background-color 300ms $animation-curve-default;
    cursor: pointer;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }

    &.active {
      padding-bottom: 6px;
      color: $link-color;
      background-color: transparent;
      border-bottom: 2px $component-active-bg solid;
    }

    &:focus {
      outline: none;
    }
  }

  @include media-breakpoint-up('lg') {// 992
    & {
      font-size: $font-size-base;
    }
  }
}

.nav-collapsible-pills {
  .nav-item {
    display: inline-block;
    background-color: $white;
    border-radius: 100px;
  }

  .nav-item + .nav-item {
    margin-left: $spacer-half;
  }
}

.nav-group {
  @include flex-container-vertical;
  margin-bottom: $base-size;

  .nav-collapsible-pills {
    order: 1;
    margin-bottom: $base-size;
  }

  .nav-secondary {
    order: 2;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('md') {// 768
  .nav-group {
    @include flex-container-center;

    .nav-collapsible-pills {
      @include flex-container-center;
      order: 3;
      margin-bottom: 0;
    }

    &.nav-group-justify {
      @include flex-container-justify;
    }
  }
}
