$page-header-margin-bottom: $base-size * 0.5 !default;
// calculated height is required to position fixed-container
$page-header-height: $headings-line-height * $h1-font-size + $page-header-margin-bottom !default;

.page-title {
  margin: 0;
}

.page-header {
  margin: 0 0 $page-header-margin-bottom;
}

.page-subcontent + .page-subcontent {
  margin-top: $spacer;
}

@include media-breakpoint-up('md') {// 768
  .page-title {
  }
}
