html {
  min-height: 100%;
}

body {
  color: $text-color-base;
  background-color: $body-bg;
}

input,
  // button,
select,
optgroup,
textarea {
  font-size: $input-font-size;
}

// Experiment to fix styles of webkit autofill
input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 0;
  -webkit-text-fill-color: $input-color;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

a {
  @include no-drag;
}

sup, sub {
  font-size: 90%;
}

sub {
  bottom: -.15em;
}