.toast-container {
  padding: 0;

  &[class*="--top"] {
    top: $base-size;
  }

  &[class*="-right"] {
    right: $base-size * 1.5;
  }

  .toast {
    min-height: $base-size;
    margin: 0 0 $spacer-half;
    padding: $base-size $base-size * 1.5;
    opacity: 1;
    border-radius: $border-radius;

    .Toastify__close-button {
      position: absolute;
      right: $base-size * 0.5;
      top: $base-size * 0.25;
    }

    p {
      margin-bottom: $spacer-half;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.toast-success {
      background-color: theme-color('success');
    }

    &.toast-error {
      background-color: theme-color('danger');
    }

    &.toast-warning {
      background-color: theme-color('warning');
    }
  }
}