.flex-container {
  @include flex-container;
}

.flex-container-start {
  @include flex-container-start;
}

.flex-container-center {
  @include flex-container-center;
}

.flex-container-justify {
  @include flex-container-justify;
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hidden {
  display: none;
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  width: $base-size * 1.5;
  height: $base-size * 1.5;
  @include spinner-variant(theme-color('primary'));
  border-radius: 50%;
  animation: spin1 1.5s infinite linear;
}
