// Colors are in _colors.scss

// BS vars
$enable-gradients: false !default;

// Base sizing "cell"
//
$base-size: 16px !default;

// Spacing
//
$spacer: $base-size !default;
$spacer-half: $spacer * 0.5 !default;
$spacer-double: $spacer * 2 !default;

// Fonts
// BS vars
$font-family-sans-serif: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:     14px !default;
$font-weight-light:  300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold:   500 !default;
$h1-font-size:       $font-size-base + 8 !default;
$h2-font-size:       $font-size-base + 4 !default;
$h3-font-size:       $font-size-base + 2 !default;
$h4-font-size:       $font-size-base !default;
$h5-font-size:       $font-size-base !default;
$h6-font-size:       $font-size-base !default;

// Borders
// Lib vars
$border-base:                 1px $border-color-base solid !default;
$border-base-2x:              2px $border-color-base solid !default;
$border-radius:               $base-size / 4 !default;
$border-radius-lg:            $base-size * 0.375 !default;
$border-radius-sm:            $base-size / 8 !default;

// Shadows
// Lib vars
// https://github.com/google/material-design-lite is used as base for variables names and values
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
$shadow-key-umbra-opacity: 0.2 !default;

// Animation
// Lib vars
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

// Components
// BS vars to reset sizes in pixels
$box-shadow-sm:               0 $base-size / 8 $base-size / 4 rgba($black, .075) !default;
$box-shadow:                  0 $base-size / 2 $base-size rgba($black, .15) !default;
$box-shadow-lg:               0 $base-size $base-size * 1.5 rgba($black, .175) !default;

// Icons
$icon-size-base: 18px !default;
$icon-size-xs:   12px !default;

// Buttons + Forms
// BS vars
// Some overrides are done to replace rem with px
$input-font-size:                 16px !default;
$input-border-color:              $gray-400 !default;
$input-placeholder-color:         $gray-500 !default;
$input-btn-padding-y:             $base-size * 0.375 !default;
$input-btn-padding-x:             $base-size * 0.75 !default;
$input-btn-focus-width:           $base-size * 0.125 !default;
$input-btn-padding-y-sm:          $base-size / 4 !default;
$input-btn-padding-x-sm:          $base-size / 2 !default;
$input-btn-padding-y-lg:          $base-size / 2 !default;
$input-btn-padding-x-lg:          $base-size !default;
$input-btn-focus-box-shadow:      make-complex-shadow-4dp($shadow-key-penumbra-opacity, $shadow-ambient-shadow-opacity, $shadow-key-umbra-opacity);
// BS vars
$custom-control-gutter:           $base-size * 0.5 !default;
$custom-control-spacer-x:         $base-size !default;
$custom-control-indicator-size:   $base-size !default;
$custom-select-indicator-padding: $base-size !default;
// BS vars
$form-group-margin-bottom:        $base-size !default;

// Dropdowns
// BS vars
$dropdown-padding-y:         $base-size * 0.5 !default;
$dropdown-padding-y:         0 !default;
$dropdown-min-width:         $base-size * 5 !default;
$dropdown-item-padding-y:    $base-size * 0.25 !default;
$dropdown-item-padding-x:    $base-size * 1.5 !default;
$dropdown-link-color:        $text-color-base !default;
$dropdown-link-hover-color:  $dropdown-link-color !default;
$dropdown-link-hover-bg:        $component-hover-bg !default;
$dropdown-link-active-color:    $component-active-color !default;
$dropdown-link-active-bg:       $component-active-bg !default;
$dropdown-link-disabled-color:  $gray-600 !default;
// Lib vars
$dropdown-spacing:              $base-size !default;// obligatory spacing around dropdown, non-bs
$dropdown-sm-item-padding-y:    $base-size * 0.125 !default;// 2px
$dropdown-sm-item-padding-x:    $base-size !default;
$dropdown-toggle-padding-y:     $input-btn-padding-y !default;
$dropdown-toggle-padding-x:     $input-btn-padding-x !default;
$dropdown-toggle-padding-right: $base-size * 1.5 !default;
$dropdown-toggle-caret-size:    $base-size * 0.5 !default;

// Forms
//
$fl-field-font-size: 16px !default;
$fl-field-disabled-color: $gray-500 !default;
$fl-field-disabled-border-color: $gray-600 !default;
$fl-field-highlight-color: $component-highlight-color !default;
$fl-field-error-color: $component-error-color !default;
$fl-field-placeholder-color: $gray-600 !default;
$fl-field-border-color: $gray-400 !default;
$fl-field-padding-y: 6px !default;
$fl-field-select-caret-offset: 5px !default;

$fl-padding-y: $base-size - $fl-field-padding-y !default;
$fl-label-line-height: 1.125 !default;
$fl-label-font-size: $fl-field-font-size !default;
$fl-label-font-size-focused: $fl-label-font-size * 0.8 !default;
$fl-label-color: $fl-field-placeholder-color !default;
$fl-label-color-focused: $fl-field-highlight-color !default;
$fl-label-color-error: $fl-field-error-color !default;

// Tables
// BS vars
$table-color:                 $body-color !default;
$table-bg:                    null !default;
// $table-accent-bg:             rgba($gray-500, .15) !default;
$table-accent-bg:             rgba($gray-100, .9) !default;
$table-hover-color:           $table-color !default;
// $table-hover-bg:              rgba($gray-500, .25) !default;
$table-hover-bg:              rgba($gray-200, .9) !default;
$table-active-bg:             $table-hover-bg !default;

// Cards
//
$card-bgr: $bgr-base !default;

$card-padding-x: $base-size !default;
$card-padding-y: $base-size !default;
$card-padding-x-md: $base-size !default;
$card-padding-y-md: $base-size !default;
$card-padding-x-lg: $base-size !default;
$card-padding-y-lg: $base-size !default;

$card-margin: $base-size !default;

// Buttons + Forms
// non BS
// $input-disabled-color:        $green !default;
$btn-icon-padding: 6px !default;
$btn-icon-padding-sm: $base-size * 0.25 !default;
$btn-icon-bgr-hover: $component-hover-bg !default;
$btn-icon-bgr-hover-invert: $component-hover-bg-invert !default;

// Navs
//
$nav-link-padding-y:          $base-size / 2 !default;
$nav-link-padding-x:          $base-size !default;

// Navbar
$navbar-brand-font-size:      24px !default;
$navbar-brand-padding-y:      0 !default;
$navbar-nav-link-padding-x:   $base-size / 2 !default;

// Alerts
//
$alert-padding-y:             $base-size !default;
$alert-padding-x:             $base-size * 1.5 !default;
$alert-margin-bottom:         $base-size !default;

// Modals
//
$modal-backdrop-opacity: 0.3 !default;
$modal-backdrop-bg: rgba($black, $modal-backdrop-opacity) !default;

// Application variables
// Layout
//
$layout-padding-x: $base-size !default;// 16
$layout-padding-x-md: $base-size !default;// 16
$layout-padding-x-lg: $base-size * 1.5 !default;// 24
$layout-header-bgr: $bgr-invert !default;
$layout-top-height: $base-size * 2 !default;// 32
$layout-header-height: $base-size * 3 !default;// 48
$layout-header-padding-y: 0 !default;// 8

$layout-footer-height: $base-size * 3 !default;// 48

$layout-content-bgr: transparent !default;

$zindex-layout-main: 1 !default;
$zindex-layout-content: 1 !default;

// Pages
//
$layout-page-padding-y: $base-size !default;
$layout-page-padding-x: $layout-padding-x !default;

// Panels
//
$panel-padding-x: $card-padding-x !default;
$panel-header-min-height: $base-size * 2 !default;
$panel-content-padding-y: $base-size * 0.5 !default;
$panel-title-font-size: $font-size-base !default;
$panel-title-font-weight: $font-weight-bold !default;
