@import "functions";
@import "colors";
@import "variables";
@import "mixins";

.layout-public {
  @include absolute-position();
  // background-color: $gray-200; moved to body

  .promo {
    .brand {
      margin: 0;
      font-size: 32px;
      font-weight: $font-weight-bold;
      color: theme-color("primary");
    }

    text-align: center;
    margin-bottom: $spacer;
  }

  .layout-main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .layout-footer {
    height: $layout-footer-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.card-public {
  width: 400px;

  .form-group {
    margin-bottom: $base-size * 0.75; //12
  }

  .form-group-lang {
    margin-bottom: $base-size * 1.5;
  }
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $base-size;
}

.card-sign-up {
  .card-actions {
    justify-content: flex-end;
  }
}
